.home-layout,
.about-layout,
.product-details-layout {
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $gutter;
}

.products-layout {
    color: var(--text-color);
}

.about-layout img {
    max-height: 600px;

    @media (max-width: 1024px) {
        max-height: 300px;
    }
}

.home-layout img {
    max-height: 400px;

    @media (max-width: 1024px) {
        max-height: 200px;
    }
}

.about-layout,
.home-layout {
    img {
        width: auto;
    }
}
