.home-layout,
.about-layout,
.product-details-layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $gutter;
}

.about-layout img {
    max-height: 600px;
}

.home-layout img {
    max-height: 400px;
}

.about-layout,
.home-layout {
    img {
        width: auto;
    }
}
