.navbar {
    align-items: center;
    background-color: var(--navbar-background-color);
    box-shadow: 0px 3px 7px 0px rgb(0 0 0 / 7%), 0px -3px 7px 0px rgb(0 0 0 / 7%);
    display: flex;
    justify-content: space-between;
    padding: 0 $gutter;

    .nav-logo {
        @include logoFont;
        text-decoration: none;
        color: var(--logo-color);
        transition: color .2s ease-in-out;

        &:hover {
            color: var(--primary-1);
            text-decoration: none;
        }

        &:active {
            color: var(--primary-1);
        }
    }

    .theme-toggle-container {
        color: var(--theme-icon-color);
        margin-left: auto;
    }

    .nav-list {
        list-style-type: none;
        margin: 0;
        overflow: hidden;
        text-align: center;
        padding: 0;

        .nav-item {
            display: inline-block;
        }
    }

    .nav-cart {
        color: var(--white);
        text-align: center;
        padding: $gutter/2 $gutter;
        transition: background-color 0.2s ease-in-out;
    }
}

.nav-item {
    position: relative;
    padding: $gutter 0;

    &:hover .sub-nav-list {
        display: block;
    }

    a {
        @include navItem;
        transition: color .2s ease-in-out;

        &:hover:not(.nav-cart) {
            text-decoration: none;
            color: var(--primary-2);
        }
    }

    .sub-nav-list {
        background: var(--navbar-background-color);
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        box-shadow: 0px 3px 7px 0px rgb(0 0 0 / 7%);
        display: none;
        list-style-type: none;
        padding-left: 0;
        position: fixed;
        text-align: left;
        top: 86px;
        z-index: 100;
        
        .sub-nav-item {
            text-transform: capitalize;
            transition: background-color .2s ease-in-out;
            
            &:hover {
                background-color: var(--subnav-hover-background-color);
            }

            &:last-child {
                border-bottom-left-radius: 6px;
                border-bottom-right-radius: 6px;
            }

            a {
                display: block;
                text-align: left;
            }
        }
    }
}

// Active tab styling
.nav-item.active-tab {
    > a:not(.nav-cart),
    button,
    .sub-nav-item.active-tab a {
        color: var(--primary-2);
        font-weight: 600;
    }

    .nav-cart {
        background-color: var(--primary-4);
        font-weight: 600;
    }
}