.btn {
    border-radius: 6px;
    display: inline-block;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    padding: 13px 40px;
    border: 0;
    transition: background-color 200ms, color 200ms;
}

.btn-default {
    color: var(--white);
    background-color: var(--primary-1);

    &:hover:enabled {
        background-color: var(--primary-2);
        text-decoration: none;
    }
}

.btn-outline {
    color: var(--white);
    background-color: var(--secondary-2);
    border: var(--secondary-3) 2px solid;
    box-shadow: 1px 1px 7px #c4c4c4;
    padding: 8px 25px;
    border-radius: 10px;

    &:hover {
        background-color: var(--secondary-3);
        text-decoration: none;
    }
}

.btn-link {
    @include navItem;
    background: none;
    font-size: 16px;
    transition: color .2s ease-in-out;

    &:hover {
        color: var(--primary-2);
    }
}

.btn-default,
.btn-outline {
    &:active {
        color: var(--text-color);
        background-color: var(--secondary-2);
    }
}

.btn-default,
.btn-outline {
    &[disabled],
    .disabled {
        color: var(--disabled-button-color);
        filter: grayscale(.5);
        cursor: not-allowed;
    }
}

.btn-accent {
    color: var(--white);
    background-color: var(--secondary-1);
    
    &:hover {
        color: var(--white);
        background-color: var(--secondary-2);
        text-decoration: none;
    }

    &:active {
        color: var(--secondary-1);
        background-color: var(--accent-1);
    }

    &[disabled],
    .disabled {
        color: var(--accent-1);
        background-color: var(--accent-2);
        cursor: default;
    }
}

.btn-decrease,
.btn-increase {
    color: var(--text-color);
    background-color: var(--secondary-2);

    &:hover:enabled {
        background-color: var(--secondary-1);
    }

    &[disabled],
    &.disabled {
        color: var(--text-color);
        cursor: not-allowed;
        filter: grayscale(.7);
    }
}
