@mixin navItem {
    color: var(--nav-item-color);
    display: inline-block;
    font-weight: normal;
    min-width: 75px;
    padding: 13px 20px;
    text-align: center;
    text-decoration: none;

    &.active {
        font-weight: bold;
    }
}

@mixin logoFont {
    font-family: 'Rubik Maze', cursive;
    font-weight: 400;
}