@mixin navItem {
    text-decoration: none;
    font-weight: normal;
    color: var(--neutral-1);
    display: inline-block;
    text-align: center;
    padding: 13px 20px;
    min-width: 75px;

    &.active {
        font-weight: bold;
    }
}

@mixin logoFont {
    font-family: 'Rubik Maze', cursive;
    font-weight: 400;
}