@import "./breakpoints";

@mixin navItem {
    color: var(--nav-item-color);
    display: inline-block;
    font-weight: normal;
    min-width: 75px;
    padding: 13px 20px;
    text-align: center;
    text-decoration: none;

    &.active {
        font-weight: bold;
    }
}

@mixin logoFont {
    font-family: 'Rubik Maze', cursive;
    font-weight: 400;
}

// When screen is $breakpointSize wide or more - Mobile first
@mixin media-breakpoint-up($breakpointNameOrSize) {
    $breakpointSize: map-get($grid-breakpoints , $breakpointNameOrSize);

    @if $breakpointSize {
        @media (min-width: $breakpointSize) {
            @content;
        }
    } @else {
        @media (min-width: $breakpointNameOrSize) {
            @content;
        }
    }
}

// When screen is $breakpointSize wide or less - Desktop first
@mixin media-breakpoint-down($breakpointNameOrSize) {
    $breakpointSize: map-get($grid-breakpoints , $breakpointNameOrSize);

    @if $breakpointSize {
        @media (max-width: $breakpointSize) {
            @content;
        }
    } @else {
        @media (max-width: $breakpointNameOrSize) {
            @content;
        }
    }
}

