@import './components/utilities/mixins';
@import './components/utilities/border-radius';

@import './components/grid';
@import './components/typography';
@import './components/ui-kit/buttons';
@import './components/ui-kit/switch';
@import './components/ui-kit/forms';
@import './components/navigation-bar';
@import './components/tabs';
@import './components/layouts';
@import './components/cart';
@import './components/loader';
@import './components/links';
@import './components/categories';
@import './components/footer';
@import './components/homepage';
@import './components/products/list-page';
@import './components/products/details-page';
@import './components/header';
@import './components/badge';

:root {
    --white: #fff;
    --black: #000;

    // Primary colors
    --primary-1: #E63946;
    --primary-2: #FE4A49;
    
    // Seconday colors
    --secondary-1: #F5B700;
    --secondary-2: #FFC71F;
    --secondary-3: #FFDB70;
    --secondary-4: #FFE699;
    
    // Neutral colors
    --neutral-1: #312F2F;
    --neutral-2: #434343;
    --neutral-3: #94868b;
    --neutral-4: #d9cfd3;
    --neutral-5: #f0e6d1;

    // Background colors:
    --bg-1: var(--neutral-5);
    --bg-2: var(--white);

    // Role colors
    --site-background-color: var(--bg-1);
    --navbar-background-color: var(--bg-2);
    --footer-background-color: var(--bg-2);
    --subnav-hover-background-color: var(--bg-1);
    --product-card-background-color: var(--bg-2);
    --nav-item-color: var(--neutral-1);
    --logo-color: var(--neutral-1);
    --headings-color: var(--neutral-1);
    --text-color: var(--black);
    --theme-icon-color: var(--neutral-1);
    --theme-active-color: var(--primary-2);
    --disabled-button-color: #d9cfd3;

    &.dark-theme {
        // Primary colors
        --primary-1: #b03b00;
        --primary-2: #ff6417;

        // Secondary colors
        --secondary-1: #460090;
        --secondary-2: #5c00bf;

        --neutral-4: #6a00db;
        --neutral-5: #380074;

        // Background colors:
        --bg-1: #162944;
        --bg-2: #1D3557;

        // Role colors
        --site-background-color: var(--bg-1);
        --navbar-background-color: var(--bg-2);
        --subnav-hover-background-color: var(--bg-1);
        --nav-item-color: var(--white);
        --logo-color: var(--white);
        --headings-color: var(--white);
        --text-color: var(--white);
        --product-card-background-color: #122f56;
        --theme-icon-color: var(--white);
    }
}

body {
    background-color: var(--site-background-color);
    box-sizing: border-box;
    margin: 0;
}
