@import './components/utilities/mixins';
@import './components/utilities/border-radius';

@import './components/typography';
@import './components/grid';
@import './components/ui-kit/buttons';
@import './components/ui-kit/forms';
@import './components/navigation-bar';
@import './components/tabs';
@import './components/layouts';
@import './components/cart';
@import './components/loader';
@import './components/links';
@import './components/categories';
@import './components/footer';
@import './components/homepage';
@import './components/products/list-page';
@import './components/products/details-page';

:root {
    --white: #fff;
    --black: #000;

    /* Primary colors*/
    --primary-1: #E63946;
    --primary-2: #FE4A49;
    --primary-3: #A8DADC;
    --primary-4: #457B9D;
    --primary-5: #1D3557;

    /* Neutral colors */
    --neutral-1: #312F2F;
    --neutral-2: #434343;
    --neutral-3: #94868b;
    --neutral-4: #d9cfd3;
    --neutral-5: #f0e6d1;

    /* Accent-blue colors */
    --accent-1: #F5B700;
    --accent-2: #FFC71F;
    --accent-3: #FFD147;
    --accent-4: #FFDB70;
    --accent-5: #FFE699;
}

body {
    background-color: var(--neutral-5);
    box-sizing: border-box;
    // height: 100vh;
    margin: 0;
}

#__next {
    height: 100%;
}

.page-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .content-container {
        flex-grow: 1;
        height: 100%;
        margin-inline: auto;
        padding: $gutter * 2 $gutter;
        width: $max-width;
        max-width: 100%;
    }
}
